<!DOCTYPE html>
<html>
<head>
  <title>Resultado</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <% if (typeof result !== 'undefined') { %>
      <div class="alert alert-success" role="alert">
        <%= result %>
      </div>
    <% } %>

    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>

    <a href="/" class="btn btn-primary">Volver al formulario</a>
  </div>
</body>
</html>