<!DOCTYPE html>
<html>
<head>
  <title>Formulario de Cotizacion de Autos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#modelo').change(function() {
        const modelo = $(this).val();

        $.get(`/marcas/${modelo}`, function(data) {
          const marcas = $('#marca');
          marcas.empty();

          data.forEach(function(marca) {
            marcas.append(`<option value="${marca}">${marca}</option>`);
          });
        });
      });

      $('#marca').change(function() {
        const modelo = $('#modelo').val();
        const marca = $(this).val();

        $.get(`/submarcas/${modelo}/${marca}`, function(data) {
          const submarcas = $('#submarca');
          submarcas.empty();

          data.forEach(function(submarca) {
            submarcas.append(`<option value="${submarca}">${submarca}</option>`);
          });
        });
      });

      $('#submarca').change(function() {
        const modelo = $('#modelo').val();
        const marca = $('#marca').val();
        const submarca = $(this).val();

        $.get(`/version/${modelo}/${marca}/${submarca}`, function(data) {
          const versiones = $('#descripcion');
          versiones.empty();

          data.forEach(function(version) {
            versiones.append(`<option value="${version}">${version}</option>`);
          });
        });
      });
    });
  </script>
</head>
<body>
  <div class="container">
    <h1>Prueba Cotizador de AUTO GNP</h1>
    <form action="/submit" method="post" class="mt-5">
      <div class="form-group">
        <label for="modelo">Modelo:</label>
        <select id="modelo" name="modelo" class="form-control">
          <option value="">Selecciona un año</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <!-- Añade más opciones según sea necesario -->
        </select>
      </div>
      <div class="form-group">
        <label for="marca">Marca:</label>
        <select id="marca" name="marca" class="form-control">
          <% if (marcas) { marcas.forEach(marca => { %>
            <option value="<%= marca %>"><%= marca %></option>
          <% }); } %>
        </select>
      </div>
      <div class="form-group">
        <label for="submarca">Submarca:</label>
        <select id="submarca" name="submarca" class="form-control"></select>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <select id="descripcion" name="descripcion" class="form-control"></select>
      </div>
      <button type="submit" class="btn btn-primary">Cotizador</button>
    </form>
  </div>
</body>
</html>